.container {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 232px;
    max-width: 232px;
    background-color: #2A3647;
    color: #CDCDCD;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.sidebar_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar_logo_img {
    width: 100px;
    height: 122px;
    margin-top: 66px;
    margin-bottom: 103px;
}

.sidebar_img {
    display: flex;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sidebar_point {
    display: flex;
    align-items: center;
    height: 46px;
    padding-left: 53px;
}

.sidebar_point_active {
    display: flex;
    align-items: center;
    background-color: #091931;
    height: 46px;
    padding-left: 53px;
}

.sidebar_summary {
    background-image: url(img/sidebar_summary.svg);
}

.sidebar_board {
    background-image: url(img/sidebar_board.svg);
}

.sidebar_add_task {
    background-image: url(img/sidebar_add_task.svg);
}

.sidebar_contacts_active {
    background-image: url(img/sidebar_contacts.svg);
}

.sidebar_text {
    margin-left: 20px;
}

.sidebar_legal_notice_img {
    display: flex;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/information.svg);
}

.sidebar_legal_notice {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    margin-bottom: 112px;
}

.sidebar_menu_logo_img {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.middle_column {
    display: flex;
    flex-direction: row;
}

/* header start */

.header {
    height: 89px;
}

/* header end */

/* Contact Overview Start */

.contacts_overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 453px;
    height: calc(100vh - 89px);
    overflow-y: scroll;
}

.contact_overview_letter {
    display: flex;
    height: 40px;
    width: 282px;
    background-color: white;
    align-items: center;
    font-size: 21px;
    margin-bottom: 24px;
    margin-top: 10px;
}

.single_contact {
    display: flex;
    width: 357px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    min-height: 75px;
}

.single_contact:hover {

}

.single_contact_active {
    background-color: #2A3647;
    color: white;
}

.contact_line {
    display: flex;
    min-width: 323px;
    min-height: 1px;
    background-color: #D1D1D1;
}

.initials_contact {
    margin-top: 15px;
    margin-left: 25px;
    width: 42px;
    height: 42px;
}

.initials {
    display: flex;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    height: 100%;
    width: 100%;
}

.single_contact_name_email {

    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 35px;
}

.single_contact_name {
    font-size: 21px;
}

.single_contact_email {
    font-size: 16px;
    color: #007CEE;
}

/* Contact Overview End */

/* Contact Details Start */



.contacts_details_outer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.contacts_details {
    display: flex;
    margin-top: 82px;
    margin-left: 58px;
    align-items: center;
}

.contacts_details_contacts {
    display: flex;
    font-size: 61px;
    font-weight: 700;
}

.contacts_details_line {
    display: flex;
    height: 59px;
    width: 0px;
    border: 3px solid #29ABE2;
    margin-left: 30px;
    margin-right: 30px;
}

.contacts_details_better {
    display: flex;
    font-size: 27px;
    color: #2A3647;
}

.contacts_details_details {
    display: flex;
    flex: 1;
}

.contacts_details_active {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-left: 65px;
    width: 574px;
}

.contact_details_heading {
    display: flex;
}

.contact_details_initials {
    display: flex;
    min-width: 120px;
    min-height: 120px;
    font-size: 47px;
}

.contact_details_name {
    display: flex;
    font-size: 47px;
    font-weight: 500;

}

.contact_details_name_add_task {
    display: flex;
    flex-direction: column;
    margin-left: 54px;
    justify-content: center;
}

.contact_details_add_task {
    display: flex;
    margin-top: 13px;
    cursor: pointer;
}

.contact_details_add_task_icon {
    display: flex;
    background-image: url(img/add_task_plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    min-width: 15px;
    min-height: 15px;
}

.contact_details_add_task_name {
    display: flex;
    margin-left: 13px;
    font-size: 16px;
    color: #29ABE2;
}

.contact_details_contact_information_outer {
    display: flex;
    margin-top: 21px;
    width: 207px;
    height: 74px;
}

.contact_details_contact_information_inner {
    display: flex;
    font-size: 21px;
    min-width: 207px;
    min-height: 74px;
    align-items: center;
}

.contact_details_edit {
    display: flex;
    align-items: center;
    margin-left: 59px;
    cursor: pointer;
}

.contact_details_edit_icon {
    display: flex;
    background-image: url(img/edit_contact_pen.svg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 21px;
    height: 30px;
}

.contact_details_edit_contact {
    display: flex;
    min-width: 100px;
    align-items: center;
    margin-left: 6px;
}

.contact_details_email_text {
    display: flex;
    margin-top: 21px;
    font-size: 16px;
    font-weight: 700;
}

.contact_details_email { 
    display: flex;
    margin-top: 15px;
    font-size: 16px;
    color: #007CEE;
}

.contact_details_phone_text {
    display: flex;
    margin-top: 22px;
    font-size: 16px;
    font-weight: 700;
}

.contact_details_phone {
    display: flex;
    margin-top: 15px;
    font-size: 16px;
}

.contact_details_new_contact {
    display: flex;
    padding-bottom: 64px;
    justify-content: flex-end;
    align-items: end;    
    flex: 1;
}

.contact_details_new_contact_icon {
    display: flex;
    background-image: url(img/new_contact_button.svg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 198px;
    height: 53px;
    cursor: pointer;
}

/* Contact Details End */

/* Edit Contact Start */

.popup {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.edit_contact {
    display: flex;
    width: 1212px;
    height: 594px;
}

.edit_contact_img {
    width: 453px;
    height: 594px;
    background-image: url(img/logo_edit_contact.svg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.edit_form {
    display: flex;
    flex-direction: column;
    height: 251px;
    justify-content: space-between;
}

/* Edit Contact End */