body {
  margin: 0;
}

.sign_up_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #f6f7f8;
}

.capa_sign_up {
  position: fixed;
  top: 70px;
  left: 70px;
}

.vector_5 {
  margin-top: 20px;
}

.sign_up {
  left: 394px;
  top: 174px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 5%;
  gap: 20px;
  width: clamp(500px, 40vw, 652px);
  background: white;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  z-index: 1;
  
}

.sign_up_title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 315px;
  height: 73px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  text-align: center;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.blue_arrow_back {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.signup_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input_sign_up {
  display: flex;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 0 21px 0 21px;
  margin-top: 20px;
  height: 49px;
  width: 320px;
}

#registerBtn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 49px;
  width: 100px;
  padding: 0px 16px;
  color: white;
  background: #2a3647;
  border: none;
  border-radius: 8px;
  font-size: 21px;
  font-weight: 700;
  transition: background-color 0.125s ease !important;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 422px;
  gap: 49px;
  padding-top: 49px;
}

.input_button {
  height: 51px;
  width: 145px;
  left: 253.5px;
  top: 473px;
  border-radius: 8px;
  padding: 4px 0px 4px 0px;
  background: #2a3647;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30%;
  cursor: pointer;
}

.input_name {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 21px;
  padding-right: 21px;
  color: black;
  background: url(img/icon_small_profile.svg);
  background-repeat: no-repeat;
  background-position-x: 380px;
  padding-right: 45px;
  background-size: 16px;
  background-position-y: 12px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #d1d1d1;
  border-style: solid;
  font-size: 21px;
  width: 422px;
  box-sizing: border-box;
}

.input_email {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 21px;
  color: black;
  background: url(img/icon_message.svg);
  background-repeat: no-repeat;
  background-position-x: 380px;
  padding-right: 45px;
  background-size: 16px;
  background-position-y: 17px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #d1d1d1;
  border-style: solid;
  font-size: 21px;
  box-sizing: border-box;
}

.input_phone {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 21px;
  padding-right: 21px;
  color: black;
  background: url(img/icon_small_phone.svg);
  background-repeat: no-repeat;
  background-position-x: 380px;
  padding-right: 45px;
  background-size: 16px;
  background-position-y: 15px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #d1d1d1;
  border-style: solid;
  font-size: 21px;
  box-sizing: border-box;
}
