body {
  margin: 0;
  height: 100vh;
}

.sign_up_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f7f8;
}

.capa_sign_up {
  position: fixed;
  left: 77px;
  top: 80px;
}

.login_head {
  display: flex;
  text-align: center;
  padding-top: 70px;
  padding-left: 70px;
}

.vector_5 {
  margin-top: 20px;
}

.cont_sign_up {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px;
  gap: 20px;
  width: 652px;
  height: 559px;
  background: white;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
}

.cont_log_in {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px;
  gap: 20px;
  width: 652px;
  height: 513px;
  background: white;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
}

.cont_forgot_pw {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px;
  gap: 20px;
  width: 826px;
  height: 462px;
  background: white;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
}

.cont_reset_pw {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px;
  gap: 20px;
  width: 826px;
  height: 537px;
  background: white;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
}

.sign_up_title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 315px;
  height: 73px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  text-align: center;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.blue_arrow_back {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;
  top: 42px;
  right: 274px;
}

.reset_blue_arrow_back {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;
  top: 35px;
  right: 374px;
}

.forgot_blue_arrow_back {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;
  top: 42px;
  right: 374px;
}

.signup_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login_header_right {
  position: fixed;
  right: 114px;
  top: 67px;
}

.not_user {
  font-size: 21px;
  font-family: "Inter";
}

.input_sign_up {
  display: flex;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 0 21px 0 21px;
  margin-top: 20px;
  height: 49px;
  width: 320px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 422px;
  gap: 49px;
  padding-top: 30px;
}

.signup_button {
  height: 51px;
  width: 145px;
  left: 253.5px;
  top: 473px;
  border-radius: 8px;
  padding: 4px 0px 4px 0px;
  background: #2a3647;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30%;
  border: solid;
  cursor: pointer;
}

.login_button {
  height: 51px;
  width: 145px;
  left: 253.5px;
  top: 473px;
  border-radius: 8px;
  padding: 4px 0px 4px 0px;
  background: #2a3647;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: solid;
  cursor: pointer;
}

.guest_login_button {
  height: 51px;
  width: 145px;
  left: 253.5px;
  top: 473px;
  border-radius: 8px;
  padding: 4px 0px 4px 0px;
  background: white;
  border: 0.8px #2a3647 solid;
  border-radius: 10px;
  color: #2a3647;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.signup_button_short {
  height: 51px;
  width: 120px;
  left: 253.5px;
  top: 473px;
  border-radius: 8px;
  padding: 4px 0px 4px 0px;
  background: #2a3647;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 35px;
  border: 0px;
  cursor: pointer;
}

.send_email_button {
  height: 51px;
  width: 264px;
  left: 253.5px;
  top: 473px;
  border-radius: 8px;
  padding: 4px 0px 4px 0px;
  background: #2a3647;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: solid;
  border: 0px;
  cursor: pointer;
}

.continue_button {
  height: 51px;
  width: 264px;
  left: 253.5px;
  top: 473px;
  border-radius: 8px;
  padding: 4px 0px 4px 0px;
  background: #2a3647;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: solid;
  cursor: pointer;
}

.text_reset_pw {
  font-size: 21px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.text_forgot_pw {
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  width: 600px;
  padding-top: 30px;
}

.input_name {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 21px;
  padding-right: 21px;
  color: black;
  background: url(img/icon_small_profile.svg);
  background-repeat: no-repeat;
  background-position-x: 380px;
  padding-right: 45px;
  background-size: 16px;
  background-position-y: 12px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #d1d1d1;
  border-style: solid;
  font-size: 21px;
  width: 422px;
  box-sizing: border-box;
}

.input_email {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 21px;
  color: black;
  background: url(img/icon_message.svg);
  background-repeat: no-repeat;
  background-position-x: 380px;
  padding-right: 45px;
  background-size: 16px;
  background-position-y: 17px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #d1d1d1;
  border-style: solid;
  font-size: 21px;
  box-sizing: border-box;
}

.input_phone {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 21px;
  padding-right: 21px;
  color: black;
  background: url(img/icon_small_phone.svg);
  background-repeat: no-repeat;
  background-position-x: 380px;
  padding-right: 45px;
  background-size: 16px;
  background-position-y: 15px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #d1d1d1;
  border-style: solid;
  font-size: 21px;
  box-sizing: border-box;
}

.input_password {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 21px;
  padding-right: 21px;
  color: black;
  background-repeat: no-repeat;
  background-position-x: 380px;
  padding-right: 45px;
  background-size: 16px;
  background-position-y: 15px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #d1d1d1;
  border-style: solid;
  font-size: 21px;
  box-sizing: border-box;
}

.login_buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.forgot {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: "Inter";
  font-size: 16px;
}

.forgot-passwort {
  color: #29abe2;
}

.forgot_password {
  width: 600px;
}
