@media(max-width: 1275px) {
    .contacts_details {
        flex-direction: column;
    }

    .contacts_details_line {
        display: none;
    }

    .contact_details_new_contact {
        justify-content: flex-start;
    }

    .contact_details_heading {
        flex-direction: column;
    }

    .contact_details_name_add_task {
        margin-left: 0;
    }

    .contacts_details_outer {
        display: none;
    }

    .middle_column {
        background-color: white;
        height: calc(100vh - 89px);
        overflow-y: auto;
        position: relative;
    }

    #newContact_footer {
        display: flex !important;
        margin-top: 17px;
        margin-right: 10px;
    }

    .middle_column {
        flex-direction: column;
    }

    .contact_details_new_contact {
        padding-bottom: 34px;
        justify-content: flex-end;
    }

    .add_contact {
        flex-direction: column;
    }

    .contact_design {
        width: 381px;
        height: 351px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        display: flex;
        flex-direction: column;
    }

    .close_add_contact {
        display: flex;
        justify-content: center;
    }

    .contacts_overview {
        height: calc(100vh - 169px);
    }

    .divider_add_contact {
        display: flex !important;
        width: 90px;
        height: 3px;
        background-color: #29ABE2;
        margin-bottom: 12px;
        margin-left: 46px;
    }

    .add_contact_span {
        display: flex !important;
        font-weight: 700;
        margin-top: 123px;
        margin-left: 46px;
        font-size: 47px;
    }

    .add_contact_description {
        display: flex !important;
        font-weight: 400;
        font-size: 21px;
        margin-left: 46px
    }

    .contact_input {
        width: 381px;
        height: 410px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 0;
    }

    .add_contact_img {
        background-image: none;
    }

    .cancel {
        display: none;
    }

    .form_buttons {
        justify-content: center;
    }

    .input_name {
        padding-top: 11px;
        padding-bottom: 11px;
        margin-top: 77px;
    }

    .input_email {
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .input_phone {
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .avatar_add {
        position: absolute;
        width: 130px;
        height: 130px;
        margin-top: -411px
    }

    .submit {
        margin-bottom: 48px;
    }

    .close_add_contact {
        display: flex !important;
        position: relative;
        right: -331px;
        top: 18px;
    }

}

@media(max-width: 1000px) {
    .middle_column {
        background-color: white;
        height: calc(100vh - 169px);
        overflow-y: auto;
    }

    #container {
        flex-direction: column;
    }

    .contacts_overview {
        height: calc(100vh - 273px);
    }

    #newContact_footer {
        display: flex !important;
        margin-top: 17px;
        margin-right: 10px;
    }

    .middle_column {
        flex-direction: column;
    }

    .contact_details_new_contact {
        padding-bottom: 34px;
        justify-content: flex-end;
    }

}

@media(max-width: 425px) {
    .contact_overview_letter {
        width: 220px;
    }

    .contact_line {
        min-width: 220px;
    }

    .single_contact {
        width: 260px;
    }

    .single_contact_name {
        font-size: 16px;
    }

    .single_contact_email {
        font-size: 13px;
    }

    .contacts_overview {
        padding-left: 3px;
        padding-right: 3px;
    }

}

@media(max-width: 425px) {
    .contact_design {
        width: 260px;
    }

    .add_contact_span {
        font-size: 25px;
    }

    .avatar_add {
        display: none;
    }

    .contact_input {
        width: 260px;
    }

    .add_contact_description {
        margin-left: 45px;
        margin-right: 32px;
    }

    .contact_design {
        height: 251px;
    }

    .add_contact_span {
        margin-top: 33px;
    }

    .input_name {
        background-position-x: 214px;
        width: 246px;
    }

    .input_email {
        background-position-x: 214px;
        width: 246px;
    }

    .input_phone {
        background-position-x: 214px;
        width: 246px;

    }

    .submit {
        margin-bottom: 90px
    }

    .contact_input {
        height: 360px;
    }

    .close_add_contact {
        right: -215px;
    }

    .edit_form {
        margin-left: 30px;
    }

    .submit {
        margin-left: 27px;
    }
}


.container_help {
    display: flex;
    flex-direction: column;
    margin-left: 123px;
    margin-right: 123px;
    font-size: 16px;
}

.small_headlines_help {
    font-size: 27px;
    font-weight: 700;
}

.span_help {
    font-size: 16px;
}

#what_is_join {
    margin-bottom: 10px;
}

#how_to_use_it {
    margin-bottom: 35px;
}

#introduction_join {
    margin-bottom: 35px;
}

.arrow_help {
    height: 24px;
    width: 24px;
    margin-top: 80px;
}

.arrow_right {
    display: flex;
    justify-content: flex-end;
}

.h2_help {
    margin-top: 0px;
}

@media(max-width: 750px) {
    .container_help {
        margin-left: 33px !important;
        margin-right: 0px !important;
        padding-right: 33px !important;
    }
}

@media(max-width: 1000px) {
    .container_help {
        overflow-y: auto;
        height: calc(100vh - 169px);
        margin-left: 123px;
        padding-right: 123px;
        margin-right: 0;
    }
}

/* add task  */

#update_task {
    background-color: #F5F5F5;
}

@media(max-width: 1275px) {
    .add_task_body {
        flex-direction: column;
    }

    .add_task {
        height: calc(100vh - 169px);
        width: auto;
        min-width: auto;
        margin: auto;
    }
}

@media(max-width: 1000px) {
    .add_task_header {
        margin-top: 19px;
    }

    /* #add_task_edits {
        display: none;
    } */
    /* #show_button_mobile {
        display: flex !important;
        align-items: center;
    } */
    .add_task_submit_outer {
        display: none;
    }

    #update_subtasks {
        margin-bottom: 35px;
    }

    .form_buttons {
        margin-top: 0px;
        margin-right: 25px;
    }

    .add_task_submit {
        width: 180px;
        background-position-x: 145px
    }
}

@media(max-width: 500px) {
    .add_task_headline {
        font-size: 40px;
    }

    .add_task_left_column {
        min-width: 275px;
        max-width: 275px;
    }

    .add_task_right_column {
        min-width: 275px;
        max-width: 275px;
    }

    .input_date {
        min-width: 275px;
        max-width: 275px;
    }

    .add_task_prio_outer {
        min-width: 80px;
    }

    .add_task_prio_urgent_img {
        background-image: none;
    }

    .add_task_prio_medium_img {
        background-image: none;
    }

    .add_task_prio_low_img {
        background-image: none;

    }

    .add_task_prio_inner {
        display: block;
    }
}

@media(max-width: 1275px) {
    .hide_mobile {
        display: none;
    }

    .mobile_header_profile_img {
        display: none;
    }

    #show_button_mobile {
        display: flex !important;
        align-items: center;
        background-position-x: 145px;
        width: 175px;
    }

    .form_buttons {
        margin-top: 0;
        margin-right: 60px;
    }

    .done_container {
        margin-right: 0 !important;
    }

    .Awaiting_Feedback_container {
        margin-right: 0px
    }
}

.mobile_header_profile_img {

    height: 46px;
    width: 46px;
    border-radius: 62%;
    border: solid;
    border-color: white;
    margin-left: 22px;
    margin-right: 36px;
    outline: solid;
    outline-color: #2A3647
}

#info-container {
    position: relative;
    top: 105px;
    right: -108px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Höhere z-Index-Eigenschaft als die ursprüngliche Seite */
    transition: all 250ms ease-out 0s;
    margin-left: 65px;

}

#info-content {
    background-color: #2A3647;
    color: white;
    border-top-right-radius: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media(max-width: 1000px) {

    .hide_mobile_info {
        display: none;
    }

    #info-container {
        top: 74px;
    }

    #h2_headline {
        padding-left: 0px;
    }
}

@media(max-width: 1670px) {
    .board-main-container {
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 10px;
    }

    .placeholder_drag_drop {
        height: calc(100% - 89px);
        box-sizing: border-box;
        min-height: 100px;
    }

    .fixContainers {
        overflow: hidden;
    }

    .board_header {
        flex-direction: column;
        align-items: flex-start;
    }

    .board {
        height: calc(100vh - 89px);
        padding-right: 0px;
        display: flex;
        align-items: center;
        overflow-y: scroll;
    }

    .done_container {
        margin-right: 61px;
    }
}

@media(max-width: 500px) {
    .hide_mobile_board {
        display: none;
    }

    #add_task {
        padding: 14px 14px;
    }

    #board_plus {
        padding-left: 0px;
    }

    .board-main-container {
        padding-left: 0px;
        align-items: center;
    }

    #h2_headline {
        padding-left: 0px;
    }

    .board_header {
        margin-bottom: 25px;
    }

    .Awaiting_Feedback_container {
        margin-right: 26px;
    }

    .done_container {
        margin-right: 26px;

    }

    .summary_mobile_headline {
        font-size: 16px;
    }

    .to_do_container {
        width: 250px;
    }

    .in_progress_container {
        width: 250px;
    }

    .Awaiting_Feedback_container {
        width: 250px;
    }

    .done_container {
        width: 250px;

    }

    #find_task {
        margin-right: 5px;
    }

    .user_elements {
        justify-content: space-evenly;
    }
}

@media(max-width: 1000px) {
    .drag_drop_mobile {
        display: flex !important;
    }

    .hide_mobile_class {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-right: 20px;
    }

    .arrow_turn {
        transform: rotate(180deg);
    }
}


@media(max-width: 1275px) {
    .edit_task_popup {
        width: 475px;
        background-color: #F5F5F5;
        padding-bottom: 45px;
    }

    .error_message {
        margin-bottom: 0;
    }

    .add_task_label_description {
        margin-top: 0px;
    }

    .form_buttons {
        margin-right: 0px;
    }

    #popup_content_task {
        background-color: #F5F5F5;
    }
}

@media(max-width: 1000px) {
    #popup_content_task {
        width: 475px;
    }

}


@media(max-width: 500px) {
    #popup_content_task {
        width: 315px;
    }

    .bd_initials {
        display: none;
    }

    .edit_task_popup {
        width: 320px;
    }

    .form_buttons {
        margin-right: 21px;
    }

    .add_task_cancel {
        padding: 0px;
    }

    .add_task_close {
        top: 20px;
    }

    .bd_delete_edit {
        right: 25px;
    }

    .add_task {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media(max-width: 1200px) {
    .Awaiting_Feedback_container {
        margin-right: 26px;
    }

    .done_container {
        margin-right: 26px !important;

    }
}

.symbols_board {
    margin-right: 35px;
}

@media(max-width: 500px) {
    .headline_summary {
        margin-left: 5px
    }

    .overview_summary {
        margin-left: 5px
    }

    .summary_done_container {
        margin-left: 5px
    }

    .upcoming_tasks_summary {
        margin-left: -11px !important;
    }
}

@media(max-width: 1000px) {
    .upcoming_tasks_summary {
        margin-left: 0px;
    }
}

@media(max-width: 750px) {
    .upcoming_tasks_summary {
        margin-left: 10px;
    }
}


@media(max-width: 750px) {

    .bd_title {
        font-size: 32px !important;
    }
}

@media(max-width: 1000px) {

    .bd_title {
        font-size: 47px;
    }
}