.summary {
    background-color: #F5F5F5;
    height: calc(100vh - 89px);
    width: 100%;
}


.headline_summary {
    display: flex;
    align-items: center;
    margin-left: 123px;
}

.seperator_summary {
    background-color: #29abe2;
    width: 3px;
    height: 59px;
    margin-right: 30px;
    margin-left: 65px;

}

.small_headline_summary {
    font-size: 27px;
}

.overview_summary {
    display: flex;
    margin-left: 123px;

}

.optic_overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 170px;
    height: 170px;
    margin-right: 35px;
    align-items: center;
    text-align: center;
    border-radius: 30px;

}

.overview_numbers {
    font-size: 64px;
    font-weight: 600;
}

.overview_description {
    font-size: 21px;
}

.upcoming_tasks_summary {
    display: flex;
    align-items: center;
    margin-left: 123px;
    margin-top: 35px;
    background-color: white;
    width: 580px;
    height: 150px;
    border-radius: 30px;
}

.grey_seperator_summary {
    height: 102px;
    background-color: #D1D1D1;
    width: 2px;
    margin-left: 61px;
    margin-right: 61px;
}

.red_arrow_top {
    margin-left: 75px;
    margin-right: 18px;
    height: 60px;
    width: 60px;

}

.urgent_number {
    font-size: 47px;
    font-weight: 600;
}

.urgent_font {
    font-size: 16px;
}

.urgent_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.date_summary {
    font-size: 21px;
    font-weight: 700;

}


.date_description_summary {
    font-size: 16px;
}

.date_and_welcome {
    display: flex;
    align-items: center;
}

.welcome_container {
    margin-left: 67px;
    display: flex;
    flex-direction: column;
}

.good_morning_container {
    color: #2A3647;
    font-size: 47px;
    font-weight: 500;
}

.name_container_summary {
    color: #29ABE2;
    font-size: 64px;
    font-weight: 700;


}

.summary_done_container {
    margin-top: 35px;
    margin-left: 123px;
    display: flex;


}

.summary_todo_done {
    display: flex;
    background-color: white;
    width: 272px;
    height: 150px;
    border-radius: 30px;
    margin-right: 35px;
}

.img_todo_done {
    height: 69px;
    width: 69px;
    padding-top: 40px;
    padding-left: 65px;
}

.number_todo_done {
    font-size: 64px;
    font-weight: 600;
}

.span_todo_done {
    font: 21px;

}

.todo_done_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 87px;

}

.optic_overview:hover {
    color: white;
    background-color: #2A3647;
}

.upcoming_tasks_summary:hover {
    color: white;
    background-color: #2A3647;
}

.summary_todo_done:hover {
    color: white;
    background-color: #2A3647;
}

#todo_done_part_right {
    background-image: url(img/check_button.svg);
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin-left: 63px;
    margin-top: 40px;

}

#todo_done_part_right:hover {
    background-image: url(img/check_pencil_new_color.png);
}

#todo_done_part_left:hover {
    background-image: url(img/edit_pencil_new_color.png);
}


#todo_done_part_left {
    background-image: url(img/edit_pencil.svg);
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin-left: 63px;
    margin-top: 40px;

}